{
  "extends": "airbnb",
  "env": {
    "jest": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "no-restricted-syntax": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "arrow-parens": ["error", "as-needed"]
  }
}
